@import "tailwindcss";


:root {
  --background-image-hour-glass: url('/images/hour-glass.jpg');
  --background-image-earth-drought: url('/images/earth-drought.jpg');
  --background-image-nature-drought: url('/images/nature-drought.jpg');
  --background-image-twilight: url('/images/Twilight.jpg');
}

.onboarding-bg {
  background-image: var(--background-image-hour-glass);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}



