@import "tailwindcss";
@import "tailwind base";
@import "tailwind components";
@import "tailwind utilities";

@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');


